{% extends "base.html" %}
{% load cms_tags %}
{% block body_id %}contact{% endblock %}
{% block base_content %}
{% placeholder contact_form %}

<div id="main-content">
    <div id="formContainer">
	<h1>Say Hello to Us.</h1>
	<form action="/contact/" method="post" id="contactForm">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Let's FLY!"/>
	</form>
	<!--form action="contact-form.php" method="post" id="contactForm">
	    <label for="firstname">First Name</label>
	    <input type="text" name="firstname" id="firstname" class="required"/>
	    
	    <label for="lastname">Last Name</label>
	    <input type="text" name="lastname" id="lastname" class="required"/>
	    
	    <label for="email">Email</label>
	    <input type="text" name="email" id="email" class="required"/>
	    
	    <label for="phone">Phone (optional)</label>
	    <input type="text" name="phone" id="phone"/>
	    
	    <h3>I'm interested in (optional):</h3>
	    <p>
		<input id="management" type="checkbox" name="services[]" value="Management"/>
		<label for="management" class="checkboxLabel">FLY Management</label>
	    </p>
	    <p>
		<input id="ownership" type="checkbox" name="services[]" value="Ownership"/>
		<label for="ownership" class="checkboxLabel">Shared Ownership</label>
	    </p>
	    <p>
		<input id="acquisition" type="checkbox" name="services[]" value="Acquisition"/>
		<label for="acquisition" class="checkboxLabel">Acquisition</label>
	    </p>
	    <input type="submit" value="Let's FLY!"/>
	</form-->
    </div>
</div>
{% endblock %}