{% extends "base.html" %}
{% load cms_tags %}
{% block body_id %}home{% endblock %}
{% block base_content %}
        <div id="slideshow">
	{% placeholder slideshow %}
	</div>
        <div id="bottom-content">
            <div class="content-block">
		{% placeholder bottom_content_1 %}
            </div>
            <div class="content-block">
		{% placeholder bottom_content_2 %}
            </div>
            <div class="content-block">
		{% placeholder bottom_content_3 %}
            </div>
        </div>
{% endblock %}